sup{
    font-size: small;
    position: absolute;
    top: 3em;
}
#nintHead{
    color: red;
    background-color: #ffffff;
    border: 5px solid red;
    border-radius: 60px;
    font-size: 80px;
    transform: scale(1.25, .75);
}
h1{
    -webkit-transform: rotate(-30deg);
    margin-left: -100%;
    margin-top: -35%;
}